/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@font-face {
  font-family: "Bbagian";
  src: url("./font/bBagian.otf");
} */

@font-face {
  font-family: "Bbagian";
  src: url("./font/bBagian.otf");
}
@font-face {
  font-family: "agency";
  src: url("./font/AGENCYB.TTF");
}
a {
  text-decoration: none;
}
p,
button,
input,
textarea {
  font-family: "Merriweather", serif;
  font-family: "Jost", sans-serif;
  text-decoration: none !important;
}
input,
textarea {
  font-size: 0.9vmax !important;
}
p {
  /* color: rgb(241, 241, 241); */
  color: #000;
  font-size: 0.9vmax !important;
  text-decoration: none;
  line-height: 30px !important;
}

.homeBooks .book_bottom > section:last-child {
  order: 1;
  margin-top: 3rem;
}

.homeBooks .book_bottom > section:first-child {
  order: 2;
}

a.inner_hero_btn.active {
  background-color: #fff;
}

@media (max-width: 800px) {
  p {
    font-size: 1.5vmax !important;
  }
  input,
  textarea {
    font-size: 1.5vmax !important;
    font-family: Merriweather, serif;
    text-decoration: none !important;
  }
  .btn {
    font-size: 1.2vmax !important;
    font-family: Merriweather, serif;
    text-decoration: none !important;
  }
  .btn-black {
    font-size: 1.2vmax !important;
    font-family: Merriweather, serif;
    text-decoration: none !important;
  }
}

.react-multi-carousel-track {
  padding: 6rem 0;
}

.Feedbacks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 20px;
  justify-content: center !important;
}

/* .Feedbacks > div {
  width: 31%;
  margin-bottom: 6rem;
} */
.Feedbacks > div {
  width: 35%;
  margin-bottom: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Reggae One"; */
  /* color: white; */
  color: #000;
}

h1 {
  font-size: 3vmax;
  letter-spacing: 2px;
}

h2 {
  font-size: 2.8vmax;
  letter-spacing: 2px;
  font-family: "Reggae One", system-ui;
}

h3 {
  font-size: 2.5vmax;
  letter-spacing: 2px;
}
h4 {
  font-size: 2.2vmax;
  letter-spacing: 2px;
}
h5 {
  font-size: 2vmax;
  letter-spacing: 2px;
}
h6 {
  font-size: 1.8vmax;
  letter-spacing: 2px;
}

.mt-3 {
  margin-top: 30px;
  display: inline-block;
}

.d-inline-block {
  display: inline-block;
}

* {
  margin: 0;
}

body {
  background: url("./images/body-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  background-color: #e97d2e;
  padding: 1vw 2vw;
  border-radius: 30px;
  font-size: 0.9vmax;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid black;
  color: black !important;
  font-family: Merriweather, serif;
  text-decoration: none !important;
}

.btn:hover {
  transform: translateY(-10px);
}

.displaynone {
  display: none;
}

.btn-black {
  background-color: black;
  padding: 1vw 2vw;
  border-radius: 30px;
  font-size: 0.9vmax;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid black;
  color: white;
}
.btn-black:hover {
  transform: translateY(-10px);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0d0602;
  z-index: 1;
  position: relative;
}

.navbar_mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar_mid p {
  color: white;
  padding: 40px 10px;
  border-radius: 0px 0px 40px 40px;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.navbar_toggle {
  display: none;
}

.navbar_mid p:hover {
  background-color: #e97d2e;
}

.logo_text {
  background-color: transparent;
  padding: 5% 5px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}

.logo_text:hover {
  transform: translateY(-10px);
}
.logo_text img {
  font-size: 6vmax;
  width: 2em;
}

@media screen and (max-width: 852px) {
  .navbar_mid {
    display: none;
  }
  .navbar_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* TOGGLE BUTTON */

.navbar_toggle button {
  background-color: #e97d2e;
  border-radius: 30px;
  font-size: 0.9vmax;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid black;
}

.navbar_toggle button img {
  width: 15px;
}

.navbar_after_toggle {
  position: fixed;
  background-color: red;
  right: 0;
  top: 0;
  z-index: 99;
  transition: 0.5s ease-in-out;
}

.navbar_after_toggle_sticky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  height: 100vh;
  width: 40vw;
  transition: 0.5s ease-in-out;
  gap: 20px;
}

.navbar_after_toggle h6 {
  color: white;
  transition: 0.3s;
  display: inline-block;
  font-weight: bold;
}
.navbar_after_toggle p:hover {
  background-color: #e97d2e;
  color: white;
}
.navbar_after_toggle Link {
  background-color: red;
}

.Landing {
  background: url("./images/landing-bg.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 1;
}

.landing_right img {
  font-size: 20vmax;
  width: 2em;
}

.landing_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 10%;
  margin-top: 8vw;
  max-width: 500px;
}

.landing_left h1 {
  font-size: 3vmax;
}

@media screen and (max-width: 852px) {
  .Landing {
    flex-direction: column;
    margin-top: unset;
    align-items: center;
    padding-top: 30px;
  }
  .landing_left {
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
  .landing_right {
    text-align: center;
    width: 100%;
  }
  .landing_left p {
    padding: 0 40px;
  }
  .landing_left h1 {
    padding: 0 10px;
  }
}
.About {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.About_reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 50px;
  margin: 100px 0;
}

.about_left p {
  max-width: 650px;
  font-size: 0.9vmax;
  padding: 0 30px;
}

.about_left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.about_right img {
  width: 55vh;
  transition: 0.3s;
}
.about_right img:hover {
  transform: translateY(-10px);
}
@media screen and (max-width: 852px) {
  .About {
    flex-direction: column-reverse;
  }
  .about_left {
    align-items: center;
    text-align: center;
  }
  .about_right img {
    width: 30vh;
  }
  .about_left p {
    font-size: 13px;
  }
}
.Gallery {
  background: url("./images/gallery-bg-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5vw 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}

.Gallery_gallerypage {
  padding: 5vw 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.GalleryPage {
  padding: 70px 0 70px;
}
.gallery_head h1 {
  margin: 20px 0;
}
.gallery_head h2 {
  color: #2d2d2d;
}
/* .gallery_head p {
  max-width: 900px;
  margin: auto;
  color: #2d2d2d;
} */
.gallery_head p {
  max-width: 900px;
  margin: auto;
  color: #2d2d2d;
  font-size: 14px !important;
  line-height: 1.6 !important;
}
.gallery_head {
  text-align: center;
  margin-bottom: 40px;
}

.dog_img_1 img {
  position: absolute;
  top: -50px;
  left: 0;
  width: 13vw;
}
.dog_img_2 img {
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 20vw;
}

/* masonry gallery */

.grid {
  column-count: 4;
  column-gap: 0.5em;
  max-width: 980px;
  margin: auto;
  width: 100%;
}

/* .grid__item img {
  height: auto;
  font-size: 6vmax;
  width: 2em;
  transition: 0.3s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-bottom: 40px;
} */
.grid__item img {
  height: auto;
  font-size: 6vmax;
  width: 90%;
  transition: 0.3s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 0 auto 40px;
  display: block;
}

.grid__item img:hover {
  transform: translateY(-10px);
}

@media (max-width: 800px) {
  .grid {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .grid {
    column-count: 2;
    margin-left: 30px;
  }
}

@media (max-width: 400px) {
  .grid {
    column-count: 2;
    margin-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .dog_img_2 img {
    bottom: -30px !important;
    right: 0;
    width: 30vw;
  }
}
@media screen and (max-width: 852px) {
  .dog_img_2 img {
    bottom: -10px;
    right: 0;
    width: 20vw;
  }
  .dog_img_1 img {
    top: 0px;
    left: 0;
    width: 18vw;
  }
}

.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10vw 10%;
}

.Book_bookpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.book_top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 10vw;
  flex-wrap: wrap;
}

.book_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.book_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.book_card_reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.book_card_img {
  background: url("./images/book-card-red.png");
  background-repeat: no-repeat;
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 300px;
  background-size: cover;
}

.book_card .book_card_img img {
  transform: translateX(-70px);
  font-size: 9vmax;
  width: 2em;
}

.book_card_reverse .book_card_img img {
  transform: translateX(70px);
  font-size: 9vmax;
  width: 2em;
}

.book_card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.281);
  padding: 60px;
  max-width: 500px;
  transform: translateX(30px);
  text-align: left;
}

.book_card_text_reverse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.281);
  padding: 60px;
  max-width: 500px;
  transform: translateX(-30px);
  text-align: left;
}

.book_card_text button {
  margin-top: 30px;
}

.book_card_text_payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  margin-top: 20px;
}

.book_card_text_payment img:hover {
  transform: translateY(-10px);
}

.book_card_text_payment img {
  font-size: 0.9vmax;
  width: 2em;
  transition: 0.3s;
}

@media screen and (max-width: 852px) {
  .book_card .book_card_img img {
    transform: unset;
  }
  .book_card_reverse .book_card_img img {
    transform: unset;
  }
  .book_card_text_reverse {
    transform: unset;
  }
  .book_card_text {
    transform: unset;
  }
  .book_card {
    gap: 10px;
  }
  .book_card_reverse {
    gap: 10px;
  }
}
.Feedback {
  /* background: url("./images/gallery-bg-black.png"); */
  background: url("./images/moving-on-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 10%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  margin: 60px 0;
}

.Feedback_img_1 img {
  position: absolute;
  top: -100px;
  left: 0;
  font-size: 6vmax;
  width: 2em;
}

.Feedback_img_1_reverse img {
  position: absolute;
  top: -100px;
  right: 0;
  font-size: 6vmax;
  width: 2em;
}

.feedback_top h1 {
  margin: 20px 0;
}
.feedback_top p {
  max-width: 900px;
  margin: auto;
}
.feedback_top {
  text-align: center;
  margin-bottom: 70px;
}

.feedback_bottom {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feedback_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #e97d2e;
  text-align: center;
  max-width: 100%;
  padding: 20px;
  border-radius: 20px;
  /* transform: rotate(3deg); */
  z-index: 0;
  height: 90%;
}

.trailorAlign .feedback_card {
  padding: 0;
  border: 15px solid #ff97e2;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.border_white {
  border: 2px solid white;
  transform: rotate(-3deg);
  max-width: 100%;
  border-radius: 20px;
}

/* .qoute_top {
  position: relative;
}
.qoute_top img {
  position: absolute;
  top: -60px;
  left: 30px;
  z-index: 199;
  font-size: 3vmax;
  width: 2em;
}

.qoute_bottom img {
  position: absolute;
  bottom: -55px;
  right: 30px;
  z-index: 199;
  font-size: 3vmax;
  width: 2em;
} */

/* Modified CSS Start */
.qoute_top img {
  position: absolute;
  top: -30px;
  right: 110px;
  z-index: 199;
  font-size: 3vmax;
  width: auto;
}
.modified_feedback .feedback_card {
  text-align: left !important;
  align-items: start;
  gap: unset;
  /* padding: 60px 40px; */
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modified_feedback .swiper-slide .feedback_card p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modified_feedback .feedback_card h5 {
  text-align: left;
  display: block !important;
  margin-bottom: 10px;
  font-family: "agency";
  text-transform: uppercase;
  font-size: 25px;
  color: #000;
}
.modified_feedback .feedback_card p {
  font-size: 19px !important;
  line-height: 1.5 !important;
  color: #000;
}
.modified_feedback .feedback_bottom:nth-child(odd) .feedback_card {
  /* background: red; */
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  padding: 80px 30px 80px 100px;
}
.modified_feedback .feedback_bottom:nth-child(even) .feedback_card {
  /* background: red; */
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  padding: 80px 100px 80px 30px;
}
.modified_feedback .border_white {
  border: unset;
}
.inner_page_section_head {
  text-align: center;
  margin: 50px 0;
}
.inner_page_section_head h2 {
  color: #000;
}

/* .modified_feedback
  .swiper-slide:nth-child(odd)
  .feedback_bottom
  .feedback_card {
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  padding: 80px 30px 80px 100px;
}
.modified_feedback
  .swiper-slide:nth-child(even)
  .feedback_bottom
  .feedback_card {
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  padding: 80px 100px 80px 30px;
} */
/* Modified CSS End */

@media screen and (max-width: 852px) {
  .Feedback_img_1 img {
    top: -20px;
    left: 0;
    font-size: 7vmax;
    width: 2em;
  }

  .qoute_top img {
    top: -16px;
  }
  .qoute_bottom img {
    bottom: -11px;
  }
  .Feedback {
    padding: 45vw 10%;
  }
  .Feedback_img_1_reverse img {
    top: 0;
  }
}
.Contact {
  padding: 200px 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact_left {
  background-color: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 400px;
  border: 1px solid white;
  margin-right: -100px;
  z-index: 1;
  transform: translateY(-180px);
}

.contact_left p {
  font-size: 14px;
}
.contact_left h1 {
  font-size: 40px;
}

.contact_right p {
  font-size: 14px;
}

.contact_right {
  background-color: black;
  padding: 50px 150px 50px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 600px;
  border: 1px solid white;
  position: relative;
}

.contact_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}
.contact_detail img {
  font-size: 1.3vmax;
  width: 2em;
}

.contact_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact_social img {
  font-size: 1vmax;
  width: 2em;
  transition: 0.3s;
  cursor: pointer;
}

.contact_social img:hover {
  transform: translateY(-10px);
}

.contact_form input {
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 12px;
}

.contact_form textarea {
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 12px;
}

.contact_dog img {
  position: absolute;
  top: -300px;
  right: 0;
  width: 300px;
}

@media screen and (max-width: 852px) {
  .contact_left {
    margin: unset;
    transform: translateY(-100px);
  }
  .contact_right {
    padding: 30px;
  }
  .contact_form input {
    width: 80%;
  }
  .contact_form textarea {
    width: 80%;
  }
  .contact_dog img {
    width: 150px;
    top: -150px;
  }
  .contact_left {
    display: none;
  }
}

.BuyNowDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0%;
  gap: 30px;
}

.buynowdetail_left {
  max-width: 500px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.267);
}
.buynowdetail_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: red;
}
.buynowdetail_right img {
  transform: translateX(40px);
  font-size: 9vmax;
  width: 2em;
}

.videotrailer {
  transform: translateX(40px);
  font-size: 9vmax;
  width: 2em;
}

.BuyNowDetail_pricing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  margin: 30px 0 0 0;
}

.BuyNowDetail_pricing a {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8vmax;
  text-decoration: none;
}

.BuyNowDetail_pricing a:hover {
  transform: translateY(-10px);
}

.video-react {
  transform: translateX(40px) !important;
}
.video-react-has-started .video-react-control-bar {
  overflow: auto !important;
}

@media screen and (max-width: 852px) {
  .buynowdetail_right img {
    transform: unset;
  }
  .video-react {
    transform: unset !important;
  }
}
.BuyNowPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 10%;
  text-align: center;
}

.BuyNowPage p {
  max-width: 900px;
}

.buynow_tabs_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
}

.book_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PageHeader {
  background: url("./images/aboutpage-mainhead-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 200px 10%;
  position: relative;
}

.pageheader_dog {
  position: absolute;
  right: 100px;
}
.pageheader_dog img {
  width: 350px;
  font-size: 10vmax;
  width: 2em;
}
@media screen and (max-width: 450px) {
  .pageheader_dog {
    right: 0px;
    top: 250px !important;
  }
}
@media screen and (max-width: 852px) {
  .pageheader_dog {
    right: 0px;
    top: 170px;
  }
}

@media screen and (max-width: 400px) {
  .PageHeader {
    background: url("./images/pageheader-mobile-bg.png");
    padding: 120px 0;
    background-size: 100% 100%;
  }
  .pageheader_dog {
    right: 0px;
    top: 150px !important;
  }
}

.Footer {
  position: relative;
  margin-top: 70px;
}

.footer_top {
  background: url("./images/footer-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 300px 0 1vw 0;
  position: relative;
}

.footer_data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer_data p {
  max-width: 120px;
}
.footer_bottom {
  background-color: #e97d2e;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer_bottom p {
  font-size: 13px;
}

.footer_payments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer_dog_img {
  position: absolute;
  top: -40px;
  left: 40px;
  z-index: 10;
}
.footer_dog_img img {
  font-size: 9.2vmax;
  width: 2em;
}

@media screen and (max-width: 852px) {
  .footer_top {
    flex-direction: column-reverse;
    background: url("./images/footer-mobile-bg.png");
    padding: 17vw 0 2vw 0 !important;
    gap: 20px;
  }
  .footer_data_bottom p {
    max-width: 100;
  }
  .footer_dog_img {
    top: -60px;
    left: 0;
  }
  .footer_dog_img img {
    font-size: 10vmax;
  }

  .Feedbacks > div {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.Feedbacks .feedback_card {
  background-color: #000;
}

@media screen and (max-width: 450px) {
  .footer_top {
    padding: 30vw 0 10vw 0 !important;
  }
}

ul.slider.animated img {
  width: auto;
}

ul.slider.animated {
  padding: 40px 0;
}

/* custom-carousel.css */

/* Set the width of each carousel item to 50% */
.swiper {
  padding: 4rem 0px !important;
}

.book_card:nth-child(even) {
  flex-direction: row-reverse;
}

.buynowdetail_left p {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.pagination > button {
  padding: 13px;
  font-size: 25px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

button[disabled] {
  background-color: #d26f2d;
  border: 1px solid #000;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}

.swiper-pagination-bullet {
  background: #e97d2e !important;
  opacity: 0.5 !important
  ;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.viewMore {
  text-align: center;
  padding-top: 4rem;
}

.reviewContainer {
  height: 100%;
}

.videoTrailor .swiper-button-prev,
.videoTrailor .swiper-button-next {
  background-color: #e97d2e;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.videoTrailor .swiper-slide-next {
  margin-right: 0px !important;
  margin-left: -85px !important;
}

.videoTrailor .swiper-pagination {
  display: none;
}

.trailorAlign > div {
  margin-bottom: 2rem;
}

/* Trailer Modified Start */
.trailorAlign .feedback_bottom {
  margin-bottom: 0 !important;
}
.trailorAlign > div {
  width: 35%;
  gap: 0px !important;
  align-items: center;
}
.trailorAlign .feedback_card {
  height: unset;
  margin: 10px 10px;
}
.Feedbacks.trailorAlign {
  margin: 60px 0;
}
/* Trailer Modified End */

.col-md-4 {
  width: 30%;
  padding: 0 10px;
  margin-bottom: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.blogListing {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.blogListing .row {
  justify-content: center;
}

.featuredImage img {
  max-width: 100%;
}

.blogBox h4 {
  /* font-size: 25px; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-family: "Reggae One", system-ui;
  color: #000;
  font-size: 23px;
  font-weight: 400;
  margin: 10px 0;
}
.blogBox .blog_date {
  font-family: "Jost";
}
.blogBox_content {
  padding: 0 15px 20px;
}
.blogBox img {
  max-width: 100% !important;
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 15px;
}
.blogBox {
  border: 1px solid #000000;
  margin-bottom: 30px;
}
.blogBox_content p {
  color: #000;
  font-family: "Jost";
  font-size: 16px !important;
}

.readMore a {
  display: inline-block;
}

.readMore {
  margin-top: 1rem;
}
.blogBox .readMore a {
  color: #ff97e2 !important;
  background: transparent;
  padding: 10px 20px 10px 0;
  border: 0;
  font-size: 16px !important;
}

.blogDetails {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  padding: 2rem 0;
}

.col-md-9 {
  padding: 0 10px;
  width: 66%;
}

.col-md-3 {
  padding: 0 10px;
  width: 30%;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6.4px solid #ff97e2;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

.active {
  background-color: #000;
  color: #fff !important;
}

.buynow_tabs_links > button:hover {
  background-color: #000;
  color: #fff !important;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.loaderBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000d9;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999999;
  display: none;
}

/* .themeLayout {
  position: relative;
} */

.d-block {
  display: flex !important;
}

body {
  position: relative;
  height: 100%;
}

.counterText {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.counterBox {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
}

.counterValue h6 {
  background-color: #262625;
  padding: 10px 20px 3px 20px;
  line-height: 1;
}

@media (max-width: 799px) {
  .col-md-3,
  .col-md-4,
  .col-md-9 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .trailorAlign {
    justify-content: start;
    padding-left: 3rem;
  }

  .videoTrailor .swiper-wrapper > .swiper-slide {
    margin-left: 80px;
    margin-right: 120px !important;
  }
}

.feedback_card {
  flex-grow: 1;
}

/* .swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-wrapper > div {
  margin-left: 34px;
}

.swiper-wrapper > div:last-child {
  margin-right: 34px !important;
} */

.centered_title_with_subhead {
  text-align: center;
}
.centered_title_with_subhead h3 {
  color: #ff97e2 !important;
  font-family: "richardson";
  font-size: 70px;
  margin: 0;
}
.centered_title_with_subhead h2 {
  color: #fff;
  font-size: 70px;
  font-family: "Reggae One";
  margin: -44px 0 30px;
}

.subscribe_content {
  background: url("./images/subscribe-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}
.subscribe_content::before {
  content: "";
  background: url(./images/dotted-border.png);
  width: 100%;
  height: 30px;
  display: block;
  position: absolute;
  top: 30px;
  margin-left: 20px;
}
.subscribe_content::after {
  content: "";
  background: url(./images/dotted-border.png);
  width: 100%;
  height: 30px;
  display: block;
  position: absolute;
  bottom: 30px;
  margin-left: 20px;
}
.subscribe_content h2 {
  font-size: 50px;
  max-width: 23ch;
  text-align: center;
  margin: 0px auto 30px;
  color: #fff;
}
.subscribe_content .input-group {
  max-width: 991px;
  margin: 0 auto;
  background: #ff97e2;
  padding: 10px 20px;
  border-radius: 30px;
}
.subscribe_content .input-group .form-control {
  background: #ff97e2;
  outline: unset;
  box-shadow: unset;
  border: 0;
  color: #000 !important;
  padding: 0 20px 0 0px;
  font-size: 18px !important;
  font-family: "Jost";
}
.subscribe_content .input-group .form-control::placeholder {
  color: #000 !important;
}
.subscribe_content .input-group .form-control:focus {
  outline: unset;
  box-shadow: unset;
  border: 0;
}
.subscribe_content .btn:hover {
  transform: unset;
}
.subscribe_content .btn {
  border: 0;
  border-radius: 30px !important;
  padding: 10px 40px;
  background: #fff;
  font-size: 18px;
  font-family: "Jost";
  font-weight: 500;
}
.subscribe_sec {
  margin: 60px 0;
}

.modified_feedback .swiper-button-next::after {
  content: "";
  background-image: url(../images/arrow-next.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #ff97e2;
  padding: 20px 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.modified_feedback .swiper-button-prev::after {
  content: "";
  background-image: url(../images/arrow-prev.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #ff97e2;
  padding: 20px 40px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.modified_feedback .swiper-button-prev:hover::after,
.modified_feedback .swiper-button-next:hover::after {
  background-color: #fff;
}
.modified_feedback .swiper-button-prev,
.modified_feedback .swiper-button-next {
  width: 34px;
  top: 95%;
}
.modified_feedback .swiper-button-prev {
  left: 46.5%;
}
.modified_feedback .swiper-button-next {
  right: 46.5%;
}

.testimonal_img {
  width: 110px;
  position: absolute;
  z-index: 999;
  top: -7%;
  left: 13%;
}
.testimonal_img img {
  width: 100%;
}

/* Inner Pages CSS Start */

/* Inner Banner CSS Start */
.inner_hero_sec {
  background: url(/public/images/hero-bg-96268d6b.webp);
  /* height: 100vh; */
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 350px 0 380px;
  background-position: bottom center;
}
.inner_subHead {
  font-size: 30px;
  font-family: "agency";
  font-weight: 400;
  background: #ff97e2;
  color: #000;
  display: inline-block;
  letter-spacing: 10px;
  padding: 5px 25px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-transform: uppercase;
  margin: 0;
}
.inner_heading {
  font-size: 80px;
  font-family: "Reggae One", system-ui;
  text-transform: capitalize;
  margin: 10px 0 20px;
  color: #fff;
}
.inner_hero_btn {
  font-family: "Jost", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #111111 !important;
  padding: 18px 20px;
  text-wrap: nowrap;
  background: #ff97e2;
  display: inline-block;
}
.inner_hero_btn:hover {
  background: #ffff;
}
.inner_hero_btns {
  background: #ff97e2;
  width: max-content;
  padding: 0 20px 0 40px;
  border-bottom-left-radius: 35px;
  margin: 0 0 20px;
}
.inner_scroll_down_wrapper .inner_scroll_down_btn {
  background: transparent !important;
  border: 0;
  outline: 0;
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.inner_scroll_down_wrapper .inner_scroll_icon {
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.inner_hero_social_icons {
  font-size: 20px;
  font-family: "Jost";
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.inner_hero_social_icons .inner_hero_social_icon {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all;
}
.inner_hero_social_icons .inner_hero_social_icon:hover {
  background: #ff97e2;
}
.inner_hero_sec .inner_hero_content {
  position: relative;
}
.inner_hero_sec .inner_hero_content .inner_hero_social_icons {
  position: absolute;
  left: -193px;
  transform: rotate(90deg);
  top: 59%;
}
.inner_hero_sec .inner_hero_content .inner_hero_social_icon {
  transform: rotate(270deg);
}
.inner_scroll_down_wrapper {
  position: relative;
  top: 150px;
}
/* Inner Banner CSS End */

/* Books Page Start */
/* Section Without BG */
.section_without_bg {
  margin: 100px 0;
  width: 100%;
}
.section_without_bg .row {
  align-items: center;
}
.without_bg_content {
  position: relative;
  z-index: 999999;
}
.inner_sec_title {
  position: relative;
  margin-bottom: 30px;
}
.inner_sec_title-h3 {
  font-family: "richardson";
  font-size: 70px;
  margin: 0;
  position: absolute;
  font-weight: 400;
  top: -35px;
  left: 0;
  color: #ff97e2;
}
.inner_sec_title-h2 {
  font-size: 65px;
  font-family: "Reggae One";
  text-transform: capitalize;
  margin: 30px 0 0 0;
  font-weight: 500;
}
.without_bg_content_body p {
  font-size: 18px !important;
  line-height: 1.5 !important;
  margin-bottom: 15px;
}
.without_bg_content_body {
  margin: 30px 0;
}
.without_bg_img img {
  width: 100%;
  transform: scale(1) translate(-70px, 0px);
}
/* Section With BG */
.section_with_bg {
  background: url(/public/images/section-with-bg.png);
  padding: 180px 0 100px;
  background-size: cover;
  background-position: top center;
  width: 100%;
}
.section_with_bg .row {
  align-items: center;
}
.with_bg_content .inner_sec_title-h2 {
  color: #fff;
}
.with_bg_content_body p {
  color: #fff;
  line-height: 2.5 !important;
  font-size: 16px !important;
}
.with_bg_img img {
  width: 100%;
  transform: scale(1) translate(-40px, 0px);
}
/* Books Page End */

/* Inner Pages CSS End */

/* Feedback Card Start */

.carolyn_feedback h1 {
  font-size: 50px;
  font-family: "Reggae One";
  text-transform: capitalize;
  margin: 0px 0 0 0;
  font-weight: 500;
}

.carolyn_feedback .Feedbacks {
  margin-top: 50px;
}
.carolyn_feedback {
  margin: 10px 0 70px;
}
.carolyn_feedback .feedback_card {
  height: unset;
  gap: 0;
  background: unset;
  text-align: left;
  padding: 0;
}
.carolyn_feedback .feedback_bottom {
  margin-bottom: 0px;
}
.carolyn_feedback .feedback_card h5 {
  font-family: "Reggae One";
  font-size: 23px;
  font-weight: 700;
  margin-right: auto;
}
.carolyn_feedback_heading h1 {
  font-family: "Reggae One";
  font-size: 45px;
  font-weight: 900;
}
.carolyn_feedback_details {
  padding-top: 0;
  margin-top: 100px;
  padding-bottom: 0;
  margin-bottom: 60px;
}
.carolyn_feedback .feedback_card p {
  font-size: 17px !important;
  line-height: 1.5 !important;
}
.carolyn_feedback .feedback_bottom:nth-child(odd) .reviewContainer {
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 50px 30px 80px;
}
.carolyn_feedback .feedback_bottom:nth-child(even) .reviewContainer {
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 80px 30px 40px;
}
.carolyn_feedback .feedback_bottom .qoute_top,
.carolyn_feedback .feedback_bottom .testimonal_img {
  display: none;
}
/* Feedback Card End */

/* Home Page Start */
.carolyn_book_Sec {
  padding: 0;
  gap: 0;
}
.carolyn_book_Sec .book_bottom {
  width: 100%;
}
.ContactPage .contactUsSec {
  padding: 0 0;
  margin: 60px 0;
}
.ContactPage .counterBox {
  justify-content: center;
  margin: 60px 0;
}
.ContactPage .counterBox .counterTitle h6 {
  color: #000;
  font-size: 30px;
  font-family: "Reggae One";
  text-transform: capitalize;
  margin-bottom: 0;
  letter-spacing: 0;
}
.ContactPage .counterBox .counterValue h6 {
  background: #ff97e2;
  font-family: "Reggae One";
  letter-spacing: 0;
  margin: 0;
  padding: 10px 15px;
}
.carolyn_gallery {
  padding: 0;
  background: unset;
  margin: 70px 0;
  gap: 0;
}
.carolyn_gallery .gallery_head h2 {
  font-size: 60px;
  font-family: "Reggae One";
  text-transform: capitalize;
  margin: 0px 0 20px 0;
  font-weight: 500;
}
.carolyn_gallery .gallery_head p {
  font-size: 18px !important;
  font-family: "Jost", sans-serif;
  line-height: 1.5 !important;
  margin: 0 10px;
}
.carolyn_gallery .gallery_head {
  margin-bottom: 50px;
}
.carolyn_viewMore {
  padding-top: 0;
  text-align: center;
}
.carolyn_viewMore .body_btns {
  justify-content: center;
}
.carolyn_book_Sec .book_top h2 {
  font-size: 60px;
  font-family: "Reggae One";
  text-transform: capitalize;
  margin: 0px 0 20px 0;
  font-weight: 500;
  letter-spacing: 0;
}
.carolyn_book_Sec .book_top p {
  font-size: 18px !important;
  font-family: "Jost", sans-serif;
  line-height: 1.5 !important;
  max-width: 100ch;
  margin: auto;
  color: #2d2d2d;
}
.carolyn_gallery .body_btns {
  justify-content: center;
  margin: 60px 0 0;
}
.carolyn_video_trailer .Feedback_img_1 {
  display: none;
}
.carolyn_video_trailer .feedback_card {
  padding: 0;
  border: 15px solid #ff97e2;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.carolyn_video_trailer .swiper-button-prev,
.carolyn_video_trailer .swiper-button-next {
  background-color: #ff97e2;
}
.carolyn_video_trailer .swiper-button-prev:after,
.carolyn_video_trailer .swiper-button-next:after {
  font-size: 20px;
}
/* Home Page End */

/* Review Page Start */
.modified_feedback .feedback_bottom {
  margin-bottom: 0 !important;
}
.modified_feedback {
  margin-top: 0;
}
.modified_pagination button[disabled] {
  background: #ff97e2;
}
.modified_pagination {
  margin: 10px 0 60px;
}
.head_modified h2 {
  color: #000;
  font-size: 50px;
  font-family: "Reggae One";
  text-transform: capitalize;
}
.reviewContainer {
  position: relative;
}
/* Review Page End */

@media (max-width: 1600px) {
  .modified_feedback .swiper-button-next {
    right: 44.6%;
  }
}
@media (max-width: 1440px) {
  .modified_feedback .swiper-button-prev {
    left: 46%;
  }
}
@media (max-width: 1380px) {
  .inner_heading {
    font-size: 60px;
  }
  .inner_hero_sec {
    padding: 240px 0 290px;
  }
  .without_bg_img img {
    width: 100%;
    transform: scale(1) translate(-70px, 0px);
  }
  .without_bg_img .inner_sec_title-h2 {
    font-size: 55px;
  }
  .without_bg_content .inner_sec_title-h3 {
    font-size: 50px;
  }
  .with_bg_content .inner_sec_title-h2 {
    font-size: 50px;
  }
  .with_bg_content .inner_sec_title-h3 {
    font-family: "richardson";
    font-size: 50px;
  }
  .modified_feedback .swiper-button-next {
    right: 43.7%;
  }
}
@media (max-width: 1280px) {
  .inner_hero_btn {
    font-size: 13px !important;
    padding: 11px 15px;
  }
  .section_with_bg {
    padding: 120px 0 60px;
  }
  .modified_feedback .swiper-button-prev {
    left: 45.5%;
  }
  .carolyn_feedback .feedback_bottom {
    margin-bottom: 0px;
    width: 45%;
  }
  .carolyn_video_trailer {
    background-size: cover;
    background-position: top center;
  }
}
@media (max-width: 1024px) {
  .subscribe_content {
    padding: 80px 0;
  }
  .subscribe_content h2 {
    font-size: 40px;
  }
  .subscribe_content .input-group {
    max-width: 768px;
  }

  .inner_hero_content {
    margin-left: 20px;
  }
  .inner_heading {
    font-size: 55px;
    margin: 1px 0 10px;
  }
  .inner_hero_sec {
    padding: 160px 0 260px;
  }

  .inner_subHead {
    font-size: 18px;
  }

  .without_bg_content .inner_sec_title-h2 {
    font-size: 45px;
  }
  .without_bg_content .inner_sec_title-h3 {
    font-size: 45px;
    top: -27px;
  }
  .without_bg_content_body p {
    font-size: 15px !important;
  }
  .section_without_bg {
    margin: 60px 0;
  }
  .section_with_bg {
    padding: 80px 0 60px;
  }
  .with_bg_img img {
    width: 100%;
    transform: scale(1) translate(-20px, 0px);
  }
  .with_bg_content_body p {
    line-height: 2 !important;
    font-size: 16px !important;
  }
  .inner_sec_title {
    margin-bottom: 10px;
  }
  .with_bg_content .inner_sec_title-h2 {
    font-size: 38px;
  }
  .modified_feedback .swiper-button-prev {
    left: 43%;
  }
  .modified_feedback .centered_title_with_subhead h2 {
    font-size: 40px;
    margin: -34px 0 0px;
  }
  .modified_feedback .centered_title_with_subhead h3 {
    font-size: 60px;
  }
  .Feedback.modified_feedback {
    padding: 50px 80px;
  }
  .GalleryPage .gallery_head h2 {
    font-size: 40px;
  }
  .GalleryPage .gallery_head p {
    font-size: 16px !important;
  }
  .trailorAlign > div {
    width: 45%;
  }
  .trailorAlign {
    padding-left: unset;
  }
  .carolyn_feedback .feedback_bottom {
    margin-bottom: 0px;
    width: 48%;
  }
  .carolyn_video_trailer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .inner_hero_content {
    margin-left: 0px;
  }
  .subscribe_content .input-group {
    max-width: 620px;
  }
  .subscribe_content::before,
  .subscribe_content::after {
    height: 20px;
    margin-left: 39px;
  }
  .subscribe_content .btn {
    padding: 4px 40px;
    font-size: 16px;
  }
  .subscribe_content .input-group .form-control {
    font-size: 16px !important;
  }
  .subscribe_content h2 {
    font-size: 30px;
  }
  .subscribe_content {
    padding: 70px 0;
  }
  .inner_hero_btn {
    font-size: 13px !important;
    padding: 10px 10px;
  }

  .without_bg_img img {
    transform: scale(1.3) translate(-18px, 0px);
  }
  .inner_sec_title {
    position: relative;
    margin-bottom: 0px !important;
  }
  .without_bg_content .inner_sec_title-h2 {
    font-size: 40px;
  }
  .without_bg_content_body {
    margin: 14px 0;
  }
  .inner_sec_title-h3 {
    font-size: 35px;
    top: -24px;
  }
  .with_bg_content_body .inner_sec_title-h2 {
    font-size: 30px;
  }
  .with_bg_content_body p {
    font-size: 15px !important;
    margin-bottom: 10px;
    line-height: 1.8 !important;
  }
  .with_bg_img img {
    width: 100%;
    transform: scale(1) translate(-20px, 0px);
  }
  .with_bg_content .inner_sec_title-h2 {
    font-size: 32px;
  }
  .with_bg_content .inner_sec_title-h3 {
    font-size: 40px;
    top: -30px;
  }

  .modified_feedback .swiper-button-next {
    right: 43.5%;
  }
  .modified_feedback .swiper-button-prev {
    left: 43.1%;
  }
}

@media (max-width: 768px) {
  .inner_scroll_down_wrapper {
    position: relative;
    top: 150px;
  }
  .inner_heading {
    font-size: 45px;
  }
  .inner_hero_content {
    margin-left: 40px;
  }
  .modified_feedback .swiper-button-next {
    right: 42.6%;
  }
  .modified_feedback .swiper-button-prev {
    left: 42.6%;
  }
  .Feedback.modified_feedback {
    padding: 40px 0px;
  }
  .GalleryPage {
    padding: 40px 0 30px;
  }
  .blogListing .blogBox {
    max-width: 450px;
    margin: 0 auto 20px;
  }
  .carolyn_feedback .feedback_bottom {
    width: 100%;
    margin: 5px 0;
  }
  .carolyn_book_Sec .book_top h2 {
    font-size: 50px;
  }
  /* .videoTrailor .swiper-wrapper > .swiper-slide {
    margin-left: 0px !important;
    margin-right: 20px !important;
  } */
}
@media (max-width: 736px) {
  .videoTrailor .swiper-wrapper > .swiper-slide {
    margin-left: 0 !important;
  }

  .inner_hero_content {
    margin-left: 0px;
  }
  .inner_hero_sec .inner_hero_content .inner_hero_social_icons {
    position: unset;
    transform: unset;
  }
  .inner_hero_sec .inner_hero_content .inner_hero_social_icon {
    transform: rotate(0deg);
  }
  .inner_hero_sec {
    padding: 130px 0 140px;
  }
  .inner_scroll_down_wrapper {
    top: 90px;
  }
  .subscribe_content .input-group {
    max-width: 440px;
  }
  .subscribe_content .btn {
    padding: 4px 30px;
    font-size: 13px !important;
  }
  .subscribe_content .input-group .form-control {
    font-size: 14px !important;
  }
  .subscribe_content h2 {
    font-size: 25px;
  }
  .subscribe_content::before,
  .subscribe_content::after {
    height: 10px;
    margin-left: 39px;
  }
  .subscribe_content {
    padding: 50px 0;
  }
  .subscribe_content::before {
    top: 15px;
  }
  .subscribe_content::after {
    bottom: 15px;
  }

  .section_without_bg .row {
    flex-direction: column-reverse;
  }
  .without_bg_img img {
    transform: scale(1) translate(-60px, 0px);
  }
  .without_bg_img {
    padding: 0px 0 20px;
  }
  .section_without_bg {
    margin: 20px 0;
  }
  .inner_sec_title {
    max-width: max-content;
    margin: auto;
    text-align: center;
  }
  .inner_sec_title-h3 {
    position: unset;
  }
  .inner_sec_title-h2 {
    margin-top: -20px;
  }
  .without_bg_content_body {
    text-align: center;
  }
  .with_bg_img img {
    transform: scale(1) translate(-20px, 0px);
  }
  .inner_subHead {
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  .inner_heading {
    font-size: 35px;
  }
  .inner_subHead {
    font-size: 16px;
    /* letter-spacing: 6px; */
  }
  .inner_hero_social_icons {
    font-size: 17px;
  }
  .inner_hero_social_icons .inner_hero_social_icon {
    width: 35px;
    height: 35px;
  }
  .subscribe_content::before,
  .subscribe_content::after {
    margin-left: 1px;
  }
  .inner_hero_btns {
    padding: 0 10px 0 30px;
  }
  .inner_hero_btn {
    font-size: 11px !important;
    padding: 10px 6px;
  }
  .inner_hero_sec {
    padding: 130px 0 60px;
  }
  .inner_scroll_down_wrapper {
    position: unset;
  }
  .inner_scroll_down_wrapper .inner_scroll_icon {
    width: 45px;
    height: 45px;
  }

  .inner_scroll_down_wrapper .inner_scroll_down_btn {
    gap: 10px;
  }
  .inner_scroll_down_wrapper .inner_scroll_down_btn {
    font-size: 16px;
  }
  .without_bg_img img {
    transform: scale(1) translate(-50px, 0px);
  }
  .Feedback.modified_feedback {
    background-size: cover;
  }
  .Feedback.modified_feedback .swiper-slide .qoute_top img {
    right: 50px;
  }
  .modified_feedback .centered_title_with_subhead h2 {
    font-size: 33px;
  }
  .modified_feedback .swiper-button-next {
    right: 38.5%;
  }
  .modified_feedback .swiper-button-prev {
    left: 38.5%;
  }

  .modified_feedback
    .swiper-slide
    .feedback_bottom:nth-child(odd)
    .feedback_card,
  .modified_feedback
    .swiper-slide
    .feedback_bottom:nth-child(even)
    .feedback_card {
    padding: 0;
  }
  .modified_feedback
    .swiper-slide
    .feedback_bottom:nth-child(odd)
    .feedback_card {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 80px 20px 30px 30px;
  }

  .GalleryPage .gallery_bottom .grid {
    margin-left: 0;
  }
  .trailorAlign > div {
    width: 85%;
  }
  .trailorAlign .feedback_card {
    margin: 0px 10px;
  }
  .carolyn_gallery .grid {
    margin-left: 0;
  }
  .carolyn_book_Sec .book_top h2 {
    font-size: 35px;
    margin-bottom: 0;
  }
  .carolyn_gallery {
    margin: 30px 0;
  }
  .about_sec {
    margin: 50px 0 50px;
  }
  .carolyn_gallery .gallery_head h2 {
    font-size: 45px;
  }
}

@media (max-width: 428px) {
  .without_bg_img img {
    transform: scale(1) translate(-40px, 0px);
  }
  .modified_feedback .swiper-button-next {
    right: 36.7%;
  }
  .modified_feedback .swiper-button-prev {
    left: 36.7%;
  }
  .blogListing .blogBox {
    max-width: 365px;
    margin: 0 auto 10px;
  }
}

.testimonal_img {
  display: none !important;
}

.hero_content,
.inner_hero_content {
  padding-left: 30px;
}
